header{
    display: inline-block;
}
main{
    margin-left: 10%;
    margin-right: 10%;
}
.nav{
	position: fixed;
	width: 100%;
	top: 0px;
	left: 0px;
}
.nav ul{
	   list-style: none;
	display: flex;
	width: 100%;
	background-color: white;
	margin: 0;
}

.nav ul li{
	padding: 10px;
	background-color: white;
	cursor: pointer;
	transition: background-color 0.5s ease-in-out, color 0.5s ease;
}
.nav ul li:hover{
	background-color: yellow;
	color: red;
}
.nav ul a{
	text-decoration: none;
	color: black   ;
}
.ajuste{
    text-align: justify;
}
.sobre {
    margin-left: 25%;
    margin-right: 25%;  
    display: inline-block; 
    background-color: white ; 
    border: 2px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
}
.logoif{
    width: 9%;
    margin-top: 33px;
    margin-left: 13%;
    border-radius: 10px 33px; 
    display: inline-block;
}
.seletor{
    background-color: #e8e2e200;
    width: 64px;
    margin-left: 66.5%;
    float: left;
    border: none;
}